body {
  background-color: #0a0a0a;
 margin: 0;
 padding: 0;
 color:rgb(255, 245, 245); 
 background-image: url(./bg1.svg);
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 height: 100vh;
 width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
